/* PDF printing styles, experimental */
@media print {
    body *:not(.ipyslides-print-node):not(.ipyslides-print-node.SlidesWrapper *) {
        display: none !important;
    }

    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        color-adjust: exact !important; /* Firefox */
        ::-webkit-scrollbar { height: 0 !important; width: 0 !important; }
    }

    /* Page size is set dynamically via @page in styles.py */
    html, body, .ipyslides-print-node {
        margin: 0 !important;
        padding: 0 !important;
    }
    .jp-ThemedContainer {
        all: unset !important; /* show all slides in print mode set in devtools */
    }
    .ipyslides-print-node:not(.SlidesWrapper) {
        all: unset !important;
        display: block !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    .ipyslides-print-node .jupyter-only {
        display: none !important;
    }
    .ipyslides-print-node.SlidesWrapper.SlidesWrapper {
        display: table !important; /* Manages auto height for multiple slides */
        --contnetScale : 1 !important; /* Defualt for printing at same value */
        --show-snumber: none; /* set with JS */
    }
    .ipyslides-print-node.ipyslides-print-node,
    .ipyslides-print-node.SlidesWrapper > * { 
        visibility: hidden !important; /* avoid unessary elements/backgrounds in print */
    }
    .ipyslides-print-node.SlidesWrapper > .LogoHtml.LogoHtml,
    .ipyslides-print-node.SlidesWrapper > .FooterBox .Footer { 
        visibility: visible !important; /* keep footer visible but main nav hidden*/
    }
    .ipyslides-print-node.SlidesWrapper > .SBoxWrapper { /* This is main culprit to mess up print */
        position: absolute !important; /* otherwise it leaves some space at top unknown way */
        left: 0 !important;
        top: 0 !important;
        width: 100vw !important; /* exact page width */
        max-width: 100vw !important;  /* can't work without it */
        overflow: auto !important;
        height: max-content !important;
        z-index: -1 !important; /* behind everything */
    }
    .ipyslides-print-node.SlidesWrapper .SlideBox {
        display: flex !important;
        flex-direction: column !important;
        flex: 0 0 auto !important;   /* size to content; don't grow/shrink */
        height: auto !important;     /* expand to fit all slides */
        width: 100% !important;
        overflow: hidden !important;
        min-height: max-content !important;
    }
    .ipyslides-print-node.SlidesWrapper .SlideBox .SlideArea {
        position:  relative !important; /* to hold background image and stuff properly and itself in order */
        visibility: visible !important;
        transform: translateZ(0) scale(1) !important; /* still need to contain stuff properly inside it and have crispy text*/
        page-break-inside: avoid !important; /* avoid for slides printing */
        page-break-after: always !important;
    }
    .ipyslides-print-node.SlidesWrapper .SlideBox .SlideArea.SlideArea {
        background: var(--bg1-color) !important; /* user can set bg color per slide */
    }
    .ipyslides-print-node.SlidesWrapper .SlideBox .SlideArea:last-of-type  {
        page-break-after: avoid !important;
        break-after: avoid !important;
    }
    .ipyslides-print-node.SlidesWrapper .SlideBox .SlideArea:first-of-type  {
        page-break-before: avoid !important;
        break-before: avoid !important;
    }
    .ipyslides-print-node.SlidesWrapper .SlideBox .SlideArea:not(.n0) {
        --bar-bg-color: transparent; /* set with JS */
    }
    .ipyslides-print-node.SlidesWrapper .SlideBox .SlideArea:not(.n0)::after {
        content: attr(data-snum) !important; /* set with JS */
        display: var(--show-snumber) !important;  
        position: absolute !important;
        bottom: 3px !important; /* 1px above the bar */
        right: 6px !important;
        color: var(--fg2-color) !important;
        font-size: 12px !important;
        z-index: 10 !important;
    }
    .ipyslides-print-node.SlidesWrapper .SlideBox .SlideArea:not(.n0)::before {
        content: '';
        position: absolute !important;
        display: block !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 2px !important;
        background: var(--bar-bg-color) !important;
        z-index: 9 !important;
    }
}